/* section:not(.show) {
    display: none !important;
} */

sfc-card {
    strong {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.info {
    display: inline-block;
    margin-right: var(--space-s);
    width: 1.425em;
    height: 1.425em;
    text-align: center;
    font-size: 0.75em;
    border: 2px solid var(--color-fg);
    border-radius: 100%;

    &::before {
        content: "i";
    }
}