<template>
    <div>
        <button type="button">
            <slot></slot>
        </button>
    </div>
</template>

<style>
    div {
        position: relative;
        border-radius: var(--border-radius);
        overflow: hidden;
    }

    :host([small]) div {
        border-radius: calc(var(--border-radius) * 0.5);
    }

    @keyframes shimmer {
        0%, 15% {
            left: -100%;
            opacity: 0.75;
        }
        7.5% {
            opacity: 1.0;
        }
        15%, 100% {
            left: 100%;
            opacity: 0.75;
        }
    }

    div::after {
        content: "";
        position: absolute;
        display: block;
        top: -25%;
        left: -10000px;
        width: 50%;
        height: 150%;
        background: linear-gradient(90deg, transparent 0%, #FFFFFFD0 47.5%, #FFFFFF50 52.5%, transparent 100%);
        transform: rotate(7.5deg);
        z-index: 100;
        filter: opacity(0.425) blur(15px);
        transition: opacity 200ms;
        pointer-events: none;
        animation-name: shimmer;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-delay: 3s;
    }

    div:hover::after {
        opacity: 0.0 !important;
    }

    button {
        cursor: pointer;
        padding: var(--space-s) var(--space-l);
        background-color: var(--color-fg);
        color: var(--color-bg);
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: inherit;
    }

    button:hover {
        background: linear-gradient(45deg, var(--color-fg) -100%, var(--color-primary) 500%);
        color: var(--color-bg) !important;
        filter: opacity(0.9);
    }

    :host([small]) button {
        padding: calc(var(--space-s) * 0.3) calc(var(--space-s) * 0.675);
        background-color: var(--color-bg);
        color: var(--color-fg);
        border: var(--border);
        border-color: var(--color-fg);
        font-size: 0.9em;
    }
</style>