@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-primary: #7B9AFF;
    --color-secondary: #1F4CE0;
    --color-bg: #FFFFFF;
    --color-bg--translucent: #FFFFFFB0;
    --color-bg--gray: #52525C;
    --color-fg: #050824;
    --color-fg--gray: #666672;
    --color-border: #CACAD3;
    --color-invalid: #C95454;

    --space-s: 0.625rem;
    --space-m: 1rem;
    --space-l: 2rem;

    --border: 1px solid var(--color-border);
    --border-radius: 0.3rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #235499;
        --color-secondary: #6484EB;
        --color-bg: #212338;
        --color-bg--translucent: #212338B0;
        --color-bg--gray: #B7B7C4;
        --color-fg: #FFFFFF;
        --color-fg--gray: #90909C;
        --color-border: #37373D;
        --color-invalid: #EC9C9C;
    }
}

*::selection, *::-moz-selection, *::-webkit-selection {
    background-color: var(--color-primary--translucent);
    color: var(--color-fg);
}

html {
    padding: var(--space-l);
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Figtree", sans-serif;
    font-size: 17px;
}

body.active {
    pointer-events: none;
    filter: opacity(0.2);
    
    &, & > * {
        transition: all 400ms;
    }
    & > * {
        filter: grayscale(0.2);
    }
}

main {
    flex: 1 0 0;
    margin: auto;
}

main, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;

    & > *:not(:last-child) {
        margin-bottom: var(--space-l);
    }
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > *:not(:last-child) {
        margin-right: calc(var(--space-l) * 1.5);
    }

    a {
        color: var(--color-fg--gray);
    }
}

header {
    font-size: 0.95rem;
}

footer {
    padding-bottom: var(--space-l);
    color: var(--color-fg--gray);
    font-size: 0.625rem;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: var(--color-secondary);
    }

    &[target="_blank"] span::after {
        content: "↗";
        display: inline-block;
        margin-left: 0.5em;
        font-size: 0.525em;
        font-weight: 800;
        transform: translateY(-0.625em);
    }
}

main a {
    color: var(--color-secondary);

    &:hover {
        filter: brightness(0.8);
    }
}

hr {
    display: block;
    background: transparent;
    height: 0;
    width: 100%;
    outline: none;
    border: none;

    &.half {
        margin-top: calc(-0.5 * var(--space-l));
    }
}

input, sfc-input {
    width: 100%;
}

sfc-card {
    & *:not(:last-child) {
        margin: 0;
        margin-bottom: var(--space-m);
    }

    p {
        color: var(--color-fg--gray);
    }

    a, sfc-button {
        &:last-child {
            align-self: flex-end;
        }
    }
}